<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Information</title>
</head>
<body>
    {% if courseDetails %}
        <table>
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Instructor</th>
                <th>Rating</th>
            </thead>
            {% for course in courseDetails %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.instructor }}</td>
                    <td>{{ course.rating }}</td>
                    <td><a href="/update/{{ course.id }}">Update</a></td><br>
                    <td><a href="/delete/{{ course.id }}">Delete</a></td><br>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="/add">Add Course</a><br>             
    {% else %}
        <p>No Records Found</p>
    {% endif %}
</body>
</html>