<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}"/>
    <title>Add Patient</title>
</head>
<body>
    <h2>Add New Patient</h2>
    <form method="POST">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
    </br>
    <input type="submit" value="Save">
    </form>
    
    
</body>
</html>