<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-App</title>
    <style>
      .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(192, 183, 183);  /* 👈 grey background */
      padding: 10px 20px;
    }
    
    </style>
</head>
<body>
    <nav class ='navbar'>
        <div class = 'nav-links'>
            <a href="{% url 'Index' %}">Todo</a>
            <a href="{% url 'TaskList' %}">View Tasks</a>
        </div>        
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>